@model HabitacionesVM

@{
    ViewData["Title"] = "Habitaciones";
}
<link rel="stylesheet" href="~/css/style.css" />

<h1 class="text-center">Habitaciones</h1>

<div class=" container mt-5">
    @foreach (TipoHabitacion tipoHabitacion in Model.TipoHabitaciones)
    {
        <div class="card">
            <div class="row">
                <div class="col-6">
                    <img src="@tipoHabitacion.RutaImg" class="img-fluid" />
                </div>
                <div class="col-6">
                    <h2 class="card-title mt-3">@tipoHabitacion.Nombre</h2>
                    <p>@tipoHabitacion.Descripcion</p>
                    <br />
                    <a class="btn btn-secondary" asp-area="" asp-controller="Reservar" asp-action="Index">Reservar</a>
                </div>
            </div>
        </div>

        <br /><br />
    }

</div>