@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOTEL LUA </h1>
    <p>Clasificado como uno de los mejores hoteles de todo México </p>
</div>

<div class="text-center">
    <button type="button" class="btn btn-danger">RESERVAR</button>
</div>

<div class="text-center">
    <button type="button" class="btn btn-white"></button>
</div>


<div style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BciXtHSA_9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="container p">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Team Page</h1>
            <p class="lead mb-0">Using Bootstrap 4 grid and utilities, create a nice team page.</p>
            <p class="lead">Snippet by<a href="https://bootstrapious.com/snippets" class="text-white">
                <u>Bootstrapious</u></a>
            </p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://d2xf5gjipzd8cd.cloudfront.net/available/575844666/575844666_960x576.jpg" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vista</h5><span class="small text-uppercase text-muted">Nuestro hotel tiene una excelente vista al mar.</span>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://i.pinimg.com/564x/a0/0b/2e/a00b2e70c482acff35e2eea1275bb6c6.jpg" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Restaurante</h5><span class="small text-uppercase text-muted">Contamos con un restaurante con la más alta calidad.</span>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-cdn.tripadvisor.com/media/photo-s/08/98/9e/da/cancun-clipper-club.jpg" alt="" width="300"class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Infraestructura</h5><span class="small text-uppercase text-muted">Hotel Lua tiene una de las infraestructuras más modernas y con excelente diseño.</span>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.457668239668!2d-86.75156778511479!3d21.134177285941348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2898afbfffff%3A0x1cb64b43f81b58d7!2sSelina%20Cancun%20Hotel%20Zone!5e0!3m2!1ses-419!2smx!4v1653116864904!5m2!1ses-419!2smx" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></iframe>
                <h5 class="mb-0">Ubicación</h5><span class="small text-uppercase text-muted">Estamos ubicados en cancún.</span>               
               
            </div>
        </div><!-- End -->
    </div>
</div>