@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css" />
<div class="text-center">
    <button type="button" class="btn btn-white"></button>
</div>


<div class="text-center">
    <h1 class="display-4">HOTEL LUA </h1>
    <p>Clasificado como uno de los mejores hoteles de todo México </p>
</div>



<div style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BciXtHSA_9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="text-center">
    <button type="button" class="btn btn-white"></button>
</div>

<div class="row">
<div class="m-4">
    <div class="card" style="width: 230px;">
        <img src="https://d2xf5gjipzd8cd.cloudfront.net/available/575844666/575844666_960x576.jpg" class="card-img-top" alt="Sample Image">
        <div class="card-body text-center">
            <h5 class="card-title">Vistas al mar</h5>
            <p style= "color:#FFFFFF";>En nuestro hotel tenemos las mejores vistas de la playa de Cancún. </p>
            
        </div>
    </div>
</div>
<div class="m-4">
    <div class="card" style="width: 230px;">
        <img src="https://i.pinimg.com/564x/a0/0b/2e/a00b2e70c482acff35e2eea1275bb6c6.jpg" class="card-img-top" alt="Sample Image">
        <div class="card-body text-center">
            <h5 class="card-title">Restaurante</h5>
            <p style= "color:#FFFFFF";>Contamos con un restaurante con la más alta calidad.</p>
            
        </div>
    </div>
</div>

<div class="m-4">
    <div class="card" style="width: 230px ;">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/98/9e/da/cancun-clipper-club.jpg" class="card-img-top" alt="Sample Image">
        <div class="card-body text-center">
            <h5 class="card-title">Infraestructura</h5>
             <p style= "color:#FFFFFF";>Hotel Lua tiene una de las infraestructuras más modernas y con excelente diseño.</p>
            
        </div>
    </div>
</div>

<div class="m-4">
    <div class="card" style="width: 230px;">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.457668239668!2d-86.75156778511479!3d21.134177285941348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2898afbfffff%3A0x1cb64b43f81b58d7!2sSelina%20Cancun%20Hotel%20Zone!5e0!3m2!1ses-419!2smx!4v1653264749159!5m2!1ses-419!2smx" width="230" height="175" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card-body text-center">
            <h5 class="card-title">Ubicación</h5>
            <p style= "color:#FFFFFF";>Nos ubicamos en Cancún Quintanaroo.</p>
            
        </div>
    </div>
</div>

</div>
