@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>El robo de esta página podría llegar a demanda por la misma.</p>
<br />
<p>Todo el contenido esta registrado bajo los programadores:</p> 
<br />
<ol>
  <li>Melany Paola Rivera Lores</li>
  <li>César Amaury Rodríguez Cantú</li>
</ol>
<br />
<img src = "https://cdn.pixabay.com/photo/2012/04/13/00/18/copyright-free-31195_960_720.png" />