@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Reservaciones </h1>
    <p>Para empezar a disfrutar de una vacaciones con nostros reserva aquí: </p>
</div>
