@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    
<div class="text-center">
    <h1 class="display-4">Mision</h1>
    <p>Lo más importante para el hotel es hacer que todos los huespedes se sientan como en casa, que se sientan comodos y con ganas de regresar. </p>
</div>
<div class="container bootstrap snippets bootdeys">
<div class="row">
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Cuidar al huesped</a></h4>
                   <p style= "color:#FFFFFF";>Que tu te encuentres bien es fundamental para nosotros, por eso mismo tenemos servicios medicos dentro del hotel y metodos de prevencion contra desastres. ¡TU SEGUIRIDAD ES PRIMERO!. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Albercas</a></h4>
                    <p style= "color:#FFFFFF";>Las albercas que se encuentran dentro de nuestro hotel estan totalmente desinfectadas y limpiaz para evitar cualquier enfermedad o incomodidad para los huespedes.
                        </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Convivencia familiar</a></h4>
                    <p style= "color:#FFFFFF";>Nosotros vemos como primordial el hecho de que todos disfruten de su estadía, por eso mismo tenemos lugares recreativos para niñis jovenes y adultos, y así tengan una mejor experiencia en el hotel. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Comodidad y diseño</a></h4>
                    <p style= "color:#FFFFFF";>Cada parte del hotel desde los muros hasta el arte representado tiene como fin dar ese toque comodidad y ese diseño tan inovador para que los huespedes se sientan aún más atraidos. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Atención al cliente</a></h4>
                    <p style= "color:#FFFFFF";>En este hotel vemos siempre por el cliente y sus necesidades, contamos con una excelente atención al cliente que te ayudara a mejorar tu experiencia. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text"data-radius="none">
                <div class="content">
                    <h6 class="category">HOTEL LUA</h6>
                    <h4 class="title"><a>Comida de todos los lugares de México</a></h4>
                   <p style= "color:#FFFFFF";>Nostros tenemos un gusto increible por la cultura mexicana, por eso mismo no propusimos a que el restaurante del hotel, sirva las comidas tipicas de cada lugar en México y así todo el mundo se sienta como en casa.  </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>
</div>