@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Administrador";
}

<h1 class="text-center">Administrador</h1>
<br />
<br />
<a class="btn btn-link" asp-area="" asp-controller="Reservaciones" asp-action="Index">Reservaciones</a>
<br />

<a class="btn btn-link" asp-area="" asp-controller="Habitaciones" asp-action="Index">Habitaciones</a>
<br />

<a class="btn btn-link" asp-area="" asp-controller="Reseña" asp-action="Index">Reseña</a>
<br />

<a class="btn btn-link" asp-area="" asp-controller="ReservacionHabitacions" asp-action="Index">Habitaciones reservadas</a>
<br />

<a class="btn btn-link" asp-area="" asp-controller="TipoHabitacions" asp-action="Index">Tipo de habitación</a>
<br />

<a class="btn btn-link" asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Usuarios</a>
<br />